body {
    background-color:antiquewhite;
}

nav {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #b0050e;
    color: #f5f5f5;
    height: 10%;
}

.navbar {
    display: inline-block;
    margin-left: 6%;
    margin-right: 6%;
    width: 4%;
    padding: 0;
    border-right: solid #0e0e0e;
    border-left: solid #0e0e0e;
    background-color: #b0050e;
}

