body {
    background-color:antiquewhite;
}

nav {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #b0050e;
    color: #f5f5f5;
    height: 10%;
}

.navbar {
    display: inline-block;
    margin-left: 6%;
    margin-right: 6%;
    width: 4%;
    padding: 0;
    border-right: solid #0e0e0e;
    border-left: solid #0e0e0e;
    background-color: #b0050e;
}

h1 {
    text-align: center;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 15%;
    min-height: 20%;
}

nav > a {
    color: #f5f5f5;
}



.navbar > a:visited {
    color: #f5b300;
}

.navbar > a:focus {
    color: #f5b3b2
}

h2 {
    text-align: center;
}

.pro-desc {
    display: flex;
    justify-self: center;
    align-self: center;
    background-color: #b005b0;
    color: #f5f5f5;
    text-align: center;
    border: 5px solid #a004a0;
}

.pro-desc > h3 {
    display: block;
}

.pro-desc > p {
    display: block;
    margin-top: 1.5%;
    margin-left: 35%;
    max-width: 20%;
}